# Proposal

### Introduction

### Preliminary Results

In [1]:
library(tidyverse)
library(repr)
library(readxl)
library(infer)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.5
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

X1 -- state: US state (by number) - not counted as predictive above, but if considered, should be consided nominal (nominal)

X6 -- population: population for community: (numeric - decimal)

X14 -- agePct16t24: percentage of population that is 16-24 in age (numeric - decimal)

X17 -- pctUrban: percentage of people living in areas classified as urban (numeric - decimal)

X26 -- perCapInc: per capita income (numeric - decimal)

X34 -- PctPopUnderPov: percentage of people under the poverty level (numeric - decimal)

X36 -- PctNotHSGrad: percentage of people 25 and over that are not high school graduates (numeric - decimal)

X38 -- PctUnemployed: percentage of people 16 and over, in the labor force, and unemployed (numeric - decimal)

X47 -- TotalPctDiv: percentage of population who are divorced (numeric - decimal)

X48 -- PersPerFam: mean number of people per family (numeric - decimal)

X128 -- ViolentCrimesPerPop: total number of violent crimes per 100K popuation (numeric - decimal) GOAL attribute (to be predicted)

In [27]:
set.seed(4)
crime_data <- read_csv("data/communities.data", col_names = FALSE)
head(crime_data)

crime <- crime_data %>%
  select(X1,X6,X14,X17,X26,X34,X36,X38,X47,X48,X128)%>%
  rename(state = X1,
         population_for_community = X6,
         pct_of_16t24 = X14,
         pct_of_people_in_urban = X17,
         per_capita_income = X26,
         pct_of_people_in_povety = X34,
         pct_of_people_not_high_school_graduates = X36,
         pct_of_people_unemployed = X38,
         pct_of_population_divorced = X47,
         mean_number_of_people_per_family = X48,
         total_crime_per_100K_popuation = X128)
head(crime)
tail(crime)
nrow(crime)

Rows: 1994 Columns: 128
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (26): X2, X3, X4, X31, X102, X103, X104, X105, X106, X107, X108, X109, ...
dbl (102): X1, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1 X2 X3    X4                  X5 X6   X7   X8   X9   X10  ⋯ X119 X120 X121
1  8 ?  ?     Lakewoodcity        1  0.19 0.33 0.02 0.90 0.12 ⋯ 0.12 0.26 0.20
2 53 ?  ?     Tukwilacity         1  0.00 0.16 0.12 0.74 0.45 ⋯ 0.02 0.12 0.45
3 24 ?  ?     Aberdeentown        1  0.00 0.42 0.49 0.56 0.17 ⋯ 0.01 0.21 0.02
4 34 5  81440 Willingborotownship 1  0.04 0.77 1.00 0.08 0.12 ⋯ 0.02 0.39 0.28
5 42 95 6096  Bethlehemtownship   1  0.01 0.55 0.02 0.95 0.09 ⋯ 0.04 0.09 0.02
6  6 ?  ?     SouthPasadenacity   1  0.02 0.28 0.06 0.54 1.00 ⋯ 0.01 0.58 0.10
  X122 X123 X124 X125 X126 X127 X128
1 0.06 0.04 0.9  0.5  0.32 0.14 0.20
2 ?    ?    ?    ?    0.00 ?    0.67
3 ?    ?    ?    ?    0.00 ?    0.43
4 ?    ?    ?    ?    0.00 ?    0.12
5 ?    ?    ?    ?    0.00 ?    0.03
6 ?    ?    ?    ?    0.00 ?    0.14

  state population_for_community pct_of_16t24 pct_of_people_in_urban
1  8    0.19                     0.29         1.0
2 53    0.00                     0.35         1.0
3 24    0.00                     0.28         0.0
4 34    0.04                     0.34         1.0
5 42    0.01                     0.23         0.9
6  6    0.02                     0.27         1.0
  per_capita_income pct_of_people_in_povety
1 0.40              0.19
2 0.37              0.24
3 0.27              0.27
4 0.36              0.10
5 0.43              0.06
6 0.72              0.12
  pct_of_people_not_high_school_graduates pct_of_people_unemployed
1 0.18                                    0.27
2 0.24                                    0.27
3 0.43                                    0.36
4 0.25                                    0.33
5 0.30                                    0.12
6 0.12                                    0.10
  pct_of_population_divorced mean_number_of_people_per_family
1 0.75                       0.35
2 1.00                       0.29
3 0.70                       0.45
4 0.44                       0.75
5 0.21                       0.51
6 0.58                       0.44
  total_crime_per_100K_popuation
1 0.20
2 0.67
3 0.43
4 0.12
5 0.03
6 0.14

  state population_for_community pct_of_16t24 pct_of_people_in_urban
1 28    0.02                     0.43         0
2 12    0.01                     0.35         1
3  6    0.05                     0.73         1
4  9    0.16                     0.31         1
5 25    0.08                     0.63         1
6  6    0.20                     0.40         1
  per_capita_income pct_of_people_in_povety
1 0.17              0.76
2 0.49              0.16
3 0.18              0.32
4 0.31              0.31
5 0.40              0.16
6 0.24              0.35
  pct_of_people_not_high_school_graduates pct_of_people_unemployed
1 0.62                                    0.61
2 0.11                                    0.12
3 0.37                                    0.24
4 0.58                                    0.50
5 0.35                                    0.37
6 0.55                                    0.47
  pct_of_population_divorced mean_number_of_people_per_family
1 0.64                       0.53
2 0.53                       0.35
3 0.48                       0.71
4 0.52                       0.47
5 0.32                       0.46
6 0.57                       0.86
  total_crime_per_100K_popuation
1 0.19
2 0.09
3 0.45
4 0.23
5 0.19
6 0.48

[1] 1994